* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: roboto, sans-serif;
}

body {
    background-color: rgb(225, 225, 217);
    margin-bottom: 10px;
}

h1 {
    text-align: center;
    padding: 15px 0;
    background-color: rgb(111, 98, 233);
    color: aliceblue;
}

h3 {
    margin: 20px 0;
}

.panel {
    margin: 20px;
}

.panel-left,
.panel-right {
    display: inline-block;
    width: 49%;
    overflow: hidden;
    margin: 40px auto 0;
    text-align: center;
}

.panel-right {
    border-left: 8px solid rgb(111, 98, 233);
}

.panel-left p {
    font-size: 20px;
}

.panel h3 {
    text-align: center;
}

h1,
h3 {
    text-transform: uppercase;
}

h2 {
    font-size: 35px;
}

.select {
    overflow: hidden;
    text-align: center;
    margin: 0 auto;
    max-width: 1000px;
}

.select img {
    width: 200px;
    margin: 20px;
    display: inline-block;

}

button {
    display: block;
    padding: 5px 20px;
    border: 2px solid grey;
    text-transform: uppercase;
    background-color: rgb(228, 228, 228);
    font-weight: bold;
    margin: 10px auto;
    transition: .3s;
    font-size: 30px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(100, 88, 88);
    border-color: rgb(100, 88, 88);
    color: rgb(230, 228, 228)
}

span {
    font-weight: bold;
}